@mixin landing-page-background() {
  position: relative;

  &::before {
    content: '';
    position: relative;
    left: -$spacing-13 * 120;
    top: 0;
    right: -$spacing-06;
    bottom: 0;
    z-index: -1;
  }
}
