$feature-flags: (
  grid-columns-16: true,
);

/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .bx--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .bx--content .bx--grid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 66rem) {
  .bx--grid {
    padding-left: calc(25% + 2rem);
  }
}

@media (min-width: 99rem) {
  .bx--content .bx--grid {
    padding-left: 300px;
    padding-right: 2rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.bx--content {
  padding: 0;
}
